/**
 * Theme Name: Kadence Child
 * Theme URI: https://uap-archive.com
 * Description: Child theme for Kadence
 * Author: Sean McHenry
 * Author URI: https://uap-archive.com
 * Template: kadence
 * Version: 1.0
 * Text Domain: uap
 */