/**
 * admin.css
 */

/* Defender */
div.frash-notice:has(> .defender),
table.plugins tr[data-slug="defender-security"] span.upgrade {
  display: none !important;
}

/* LiteSpeed */
#wpadminbar li#wp-admin-bar-litespeed-menu {
  display: none;
}

/* Updraft */
#updraft-wrap .updraft-ad-container {
  display: none;
}
