/**
 * main.css
 */

/*
Admin Bar
 */
#wpadminbar li#wp-admin-bar-litespeed-menu {
  display: none;
}

/*
Content Area
 */
body.content-title-style-hide {
  div.content-area {
	  margin-top: 0 !important;
  }

  .entry-content-wrap {
    padding-top: 0;
  }
}
